@font-face {
  font-family: 'Space Grotesk';
  src: url("/fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Space Grotesk';
  src: url("/fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
