{% extends "layouts/wrapper.njk" %}

{% block content %}
  {{ govukPanel({
    titleText: "Quote created"
  }) }}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: cite + " said"
        },
        value: {
          text: summary
        }
      },
      {
        key: {
          text: "Date"
        },
        value: {
          text: date
        }
      }
    ]
  }) }}
{% endblock %}
