{% extends "layouts/wrapper.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set rows = [
    {
      key: {
        text: cite + " said"
      },
      value: {
        text: summary
      }
    },{
      key: {
        text: "Date"
      },
      value: {
        text: date
      }
    }
] %}


{% block content %}
{{ govukPanel({
  titleText: "Quote created"
}) }}



{{ govukSummaryList({
  rows: rows
}) }}
{% endblock %}