{% extends "layouts/wrapper.njk" %}

{% block content %}
<h1 class="govuk-heading-xl">Roobottom admin</h2>
<p class="govuk-body-l">Choose a post type:</p>
<nav class="main-menu">
  <ul>
    <li><a href="/diary/photos">Diary post with photos</a></li>
    <li><a href="/diary/content">Diary post without photos</a></li>
    <li><a href="#">Quote</a></li>
    <li><a href="#">Beer</a></li>
  </ul>
</nav>
{% endblock %}