@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/SpaceGrotesk-Bold.woff") format("woff");
}

// GOV.UK Frontend settings
$govuk-brand-colour: #fb8500;
$govuk-border-width-form-element: 1px;
$govuk-button-background-colour: #1f9ebc;
$govuk-focus-colour: #8dcae6;
$govuk-link-colour: #000;
$govuk-link-hover-colour: #023047;
$govuk-font-family: "Space Grotesk";

@import "node_modules/govuk-frontend/govuk/all";

// Custom styles
.govuk-header {
  &__container {
    border-bottom: none;
    padding-top: govuk-spacing(3);
  }

  &__logo {
    margin-bottom: govuk-spacing(3);
  }

  &__link--homepage {
    @include govuk-typography-responsive(24);
    font-weight: normal;
  }

  &.app-header {
    background-color: $govuk-brand-colour;
    border-bottom: none;
  }
}

.app-main-menu {
  .govuk-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: govuk-spacing(3);
  }

  a {
    @include govuk-link-common;
    @include govuk-link-style-no-underline;
    @include govuk-link-style-no-visited-state;
    background-color: govuk-colour("light-grey");
    border: 1px solid govuk-colour("mid-grey");
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: govuk-spacing(3);
  }
}

.app-photo-preview {
  background-color: govuk-colour("light-grey");
  margin-bottom: govuk-spacing(5);
  padding: govuk-spacing(4);

  &__image {
    display: block;
    max-width: 300px;
    width: 100%;
  }
}
