{% extends "../layouts/wrapper.njk" %}
{% from "../govuk-frontend/components/button/macro.njk" import govukButton %}
{% from "../govuk-frontend/components/input/macro.njk" import govukInput %}
{% from "../govuk-frontend/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Main menu",
  href: "/"
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Describe images</h1>
<form action="/diary/process-alt" method="post">
{% for photo in photos %}
  <img src="/{{ photo.url }}" width="200">
  {{ govukInput({
    label: {
      text: "Describe this photo"
    },
    id: "alt-" + loop.index0,
    name: "alt-" + loop.index0,
    classes: 'govuk-!-margin-bottom-5'
  }) }}
{% endfor %}
{{ govukButton({
  text: "Save and continue"
}) }}
</form>
{% endblock %}