{% extends "layouts/wrapper.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <form action="/diary/process-alt" method="post">
    {% for photo in photos %}
      <div class="app-photo-preview">
        {{ govukInput({
          id: "alt-" + loop.index0,
          name: "alt-" + loop.index0,
          label: {
            classes: "govuk-label--s",
            text: "What’s happening in this photo?"
          },
          classes: "govuk-!-margin-bottom-5"
        }) }}
        <img src="/{{ photo.url }}" class="app-photo-preview__image">
      </div>
    {% endfor %}

    {{ govukButton({
      text: "Save and continue"
    }) }}
  </form>
{% endblock %}
