{% extends "layouts/wrapper.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set photoRows = [] %}
{% if photos %}
  {% for photo in photos %}
    {% set row = {
      key: {
        text: "Photo " + loop.index
      },
      value: {
        html: '<img src="/' + photo.url + '" width="300">'
      }
    } %}
    {% set descriptionRow = {
      key: {
        text: "Description of photo " + loop.index
      },
      value: {
        text: photo.alt
      }
    } %}
    {% set photoRows = photoRows.concat([row, descriptionRow]) %}
  {% endfor %}
{% endif %}

{% set rows = [
  {
    key: {
      text: "Summary"
    },
    value: {
      text: summary
    }
  },
  {
    key: {
      text: "Date"
    },
    value: {
      text: date
    }
  },
  {
    key: {
      text: "Tags"
    },
    value: {
      text: tags
    }
  } if tags,
  {
    key: {
      text: "Content"
    },
    value: {
      text: content
    }
  }
] %}

{% for photoRow in photoRows %}
  {{ rows.push(photoRow) }}
{% endfor %}

{% block content %}
  {{ govukPanel({
    titleText: "Diary post created"
  }) }}

  {{ govukSummaryList({
    rows: rows
  }) }}
{% endblock %}
