{% extends "layouts/wrapper.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}
<h1 class="govuk-heading-xl">{{ title }}</h1>

<form action="/diary/process-content" method="post">
  {{
    govukInput({
      label: {
        text: "Summary"
      },
      id: "summary",
      name: "summary",
      hint: {
        text: "What this post is about in a few words"
      }
    })
  }}

  {{
    govukInput({
      label: {
        text: "Date and time"
      },
      id: "date",
      name: "date",
      hint: {
        text: "Examples: “today at 3pm” or “last tuesday afternoon” or blank to set date to now."
      }
    })
  }}

  {{
    govukInput({
      label: {
        text: "Tags"
      },
      hint: {
        text: "comma seperated list"
      },
      id: "tags",
      name: "tags"
    })
  }}

  {{ govukTextarea({
    name: "content",
    id: "content",
    label: {
      text: "Content"
    }
  }) }}

  {{ govukCheckboxes({
    name: "compendium",
    items: [
      {
        value: "false",
        text: "Hide in the printed book?"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

</form>
{% endblock %}