{% extends "layouts/wrapper.njk" %}
{% from "../govuk-frontend/components/input/macro.njk" import govukInput %}
{% from "../govuk-frontend/components/textarea/macro.njk" import govukTextarea %}
{% from "../govuk-frontend/components/button/macro.njk" import govukButton %}
{% from "../govuk-frontend/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "../govuk-frontend/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Main menu",
  href: "/"
}) }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Diary post content</h1>

<form action="/diary/process-content" method="post">
  {{
    govukInput({
      label: {
        text: "Summary"
      },
      id: "summary",
      name: "summary",
      hint: {
        text: "What this post is about in a few words"
      }
    })
  }}

  {{
    govukInput({
      label: {
        text: "Date"
      },
      id: "date",
      name: "date",
      hint: {
        text: "Use natural language or leave blank for now. Examples: “today” or “last tuesday afternoon”"
      }
    })
  }}

  {{
    govukInput({
      label: {
        text: "Tags"
      },
      hint: {
        text: "comma seperated list"
      },
      id: "tags",
      name: "tags"
    })
  }}

  {{ govukTextarea({
    name: "content",
    id: "content",
    label: {
      text: "Content"
    },
    hint: {
      text: "You can use Markdown."
    }
  }) }}

  {{ govukCheckboxes({
    name: "compendium",
    items: [
      {
        value: "false",
        text: "Hide in the printed book?"
      }
    ]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

</form>
{% endblock %}