{% extends "../layouts/wrapper.njk" %}
{% from "../govuk-frontend/components/file-upload/macro.njk" import govukFileUpload %}
{% from "../govuk-frontend/components/button/macro.njk" import govukButton %}

{% block content %}
<form action="/diary/process-photos" method="post" enctype="multipart/form-data">
  {{ govukFileUpload({
    id: "photos",
    name: "photos",
    label: {
      text: "Choose photos to upload"
    },
    multiple: true
  }) }}
  {{ govukButton({
    text: "Save and continue"
  }) }}
</form>
{% endblock %}