{% extends "../layouts/wrapper.njk" %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<form action="/diary/process-photos" method="post" enctype="multipart/form-data">
  {{ govukFileUpload({
    id: "photos",
    name: "photos",
    label: {
      text: title,
      isPageHeading: true,
      classes: "govuk-label--xl"
    },
    multiple: true,
    errorMessage: {
      text: error.photos
    } if error
  }) }}
  {{ govukButton({
    text: "Save and continue"
  }) }}
</form>
{% endblock %}