{% extends "govuk/template.njk" %}

{% set themeColor = "#fb8500" %}

{% block head %}
  <link href="/css/main.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
{% endblock %}

{% block pageTitle %}{{ title }} - Roobottom Admin{% endblock %}

{% block header %}
  <header class="govuk-header app-header">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="/" class="govuk-header__link govuk-header__link--homepage">Roobottom admin</a>
      </div>
    </div>
  </header>
{% endblock %}

{% block footer %}{% endblock %}
